<article class="post">
  <h2 class="post-title">
    <div class="showMobile">
      <time datetime="{{ post.date | date_to_xmlschema }}"
        class="post-date-mobile">
        {{ post.date | date: '%d.%m.%Y' }}
      </time>
    </div>
    <a href="{{ site.baseurl }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
</article>