<div class="row center">
  <a href="/years" class="section">Years</a>
  <a href="/categories" class="section">Categories</a>
  <a href="/english" class="section">English</a>
  <a href="/turkish" class="section">Turkish</a>
  <hr />
</div>