// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 47rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}

@media all and (max-width: 479px) {

    .hiddenMobile{display:none;}
    .showMobile{display:block;}

}

@media all and (min-width: 478px) {

    .showMobile{display:none;}

}
