<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="https://avatars2.githubusercontent.com/u/2325140?v=3&s=460" target="_blank"
             title="Özgür Adem Işıklı" alt="Özgür Adem Işıklı">
            <img class="author-img-sm" src="https://avatars2.githubusercontent.com/u/2325140?v=3&s=460" title="Özgür Adem Işıklı" alt="Özgür Adem Işıklı"/>
          </a>
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small class="hiddenMobile">{{ site.tagline }}</small>
          <a href="/resume" target="_blank" title="Özgür Adem Işıklı CV, Resume, About" alt="Özgür Adem Işıklı CV, Resume, About" class="resume-link">
            Resume
          </a>
          <a href="/about" class="contact-link">
            About
          </a>
        </h3>
        <h3 class="masthead-title">
          <small class="showMobile">{{ site.tagline }}</small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          <a href="http://feeds.feedburner.com/iozguradem" target="_blank" alt="RSS Feed" title="RSS Feed">RSS Feed</a> | 
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
        </small>
      </footer>
    </div>

  </body>
</html>
